/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.04.2018, 20:28:16
    Author     : Edwrard Nana
*/

.Felder:hover {
-fx-background-image: url(../Ressources/Board/Wood/a2.png);}

.A1 {
   -fx-background-image: url(../Ressources/Board/Wood/a1.png);
}

.A2 {
   -fx-background-image: url(../Ressources/Board/Wood/a2.png) ;
}

.A3 {
   -fx-background-image: url(../Ressources/Board/Wood/a3.png) ;
}

.A4 {
   -fx-background-image: url(../Ressources/Board/Wood/a4.png) ;
}

.A5 {
   -fx-background-image: url(../Ressources/Board/Wood/a5.png) ;
}

.A6 {
   -fx-background-image: url(../Ressources/Board/Wood/a6.png) ;
}

.A7 {
   -fx-background-image: url(../Ressources/Board/Wood/a7.png) ;
}

.A8 {
   -fx-background-image: url(../Ressources/Board/Wood/a8.png) ;
}

.B1 {
   -fx-background-image: url(../Ressources/Board/Wood/b1.png) ;
}

.B2 {
   -fx-background-image: url(../Ressources/Board/Wood/b2.png) ;
}

.B3 {
   -fx-background-image: url(../Ressources/Board/Wood/b3.png) ;
}

.B4 {
   -fx-background-image: url(../Ressources/Board/Wood/b4.png) ;
}

.B5 {
   -fx-background-image: url(../Ressources/Board/Wood/b5.png) ;
}

.B6 {
   -fx-background-image: url(../Ressources/Board/Wood/b6.png) ;
}

.B7 {
   -fx-background-image: url(../Ressources/Board/Wood/b7.png) ;
}

.B8 {
   -fx-background-image: url(../Ressources/Board/Wood/b8.png) ;
}

.C1 {
   -fx-background-image: url(../Ressources/Board/Wood/c1.png) ;
}

.C2 {
   -fx-background-image: url(../Ressources/Board/Wood/c2.png) ;
}

.C3 {
   -fx-background-image: url(../Ressources/Board/Wood/c3.png) ;
}

.C4 {
   -fx-background-image: url(../Ressources/Board/Wood/c4.png) ;
}

.C5 {
   -fx-background-image: url(../Ressources/Board/Wood/c5.png) ;
}

.C6 {
   -fx-background-image: url(../Ressources/Board/Wood/c6.png) ;
}

.C7 {
   -fx-background-image: url(../Ressources/Board/Wood/c7.png) ;
}

.C8 {
   -fx-background-image: url(../Ressources/Board/Wood/c8.png) ;
}

.D1 {
   -fx-background-image: url(../Ressources/Board/Wood/d1.png) ;
}

.D2 {
   -fx-background-image: url(../Ressources/Board/Wood/d2.png) ;
}

.D3 {
   -fx-background-image: url(../Ressources/Board/Wood/d3.png) ;
}

.D4 {
   -fx-background-image: url(../Ressources/Board/Wood/b4.png) ;
}

.D5 {
   -fx-background-image: url(../Ressources/Board/Wood/d5.png) ;
}

.D6 {
   -fx-background-image: url(../Ressources/Board/Wood/d6.png) ;
}

.D7 {
   -fx-background-image: url(../Ressources/Board/Wood/d7.png) ;
}

.D8 {
   -fx-background-image: url(../Ressources/Board/Wood/d8.png) ;
}

.E1 {
   -fx-background-image: url(../Ressources/Board/Wood/e1.png) ;
}

.E2 {
   -fx-background-image: url(../Ressources/Board/Wood/e2.png) ;
}

.E3 {
   -fx-background-image: url(../Ressources/Board/Wood/e3.png) ;
}

.E4 {
   -fx-background-image: url(../Ressources/Board/Wood/e4.png) ;
}

.E5 {
   -fx-background-image: url(../Ressources/Board/Wood/e5.png) ;
}

.E6 {
   -fx-background-image: url(../Ressources/Board/Wood/e6.png) ;
}

.E7 {
   -fx-background-image: url(../Ressources/Board/Wood/e7.png) ;
}

.E8 {
   -fx-background-image: url(../Ressources/Board/Wood/e8.png) ;
}

.F1 {
   -fx-background-image: url(../Ressources/Board/Wood/f1.png) ;
}

.F2 {
   -fx-background-image: url(../Ressources/Board/Wood/f2.png) ;
}

.F3 {
   -fx-background-image: url(../Ressources/Board/Wood/f3.png) ;
}

.F4 {
   -fx-background-image: url(../Ressources/Board/Wood/f4.png) ;
}

.F5 {
   -fx-background-image: url(../Ressources/Board/Wood/f5.png) ;
}

.F6 {
   -fx-background-image: url(../Ressources/Board/Wood/f6.png) ;
}

.F7 {
   -fx-background-image: url(../Ressources/Board/Wood/f7.png) ;
}

.F8 {
   -fx-background-image: url(../Ressources/Board/Wood/f8.png) ;
}

.G1 {
   -fx-background-image: url(../Ressources/Board/Wood/g1.png) ;
}

.G2 {
   -fx-background-image: url(../Ressources/Board/Wood/g2.png) ;
}

.G3 {
   -fx-background-image: url(../Ressources/Board/Wood/g3.png) ;
}

.G4 {
   -fx-background-image: url(../Ressources/Board/Wood/g4.png) ;
}

.G5 {
   -fx-background-image: url(../Ressources/Board/Wood/g5.png) ;
}

.G6 {
   -fx-background-image: url(../Ressources/Board/Wood/g6.png) ;
}
.G7 {
   -fx-background-image: url(../Ressources/Board/Wood/g7.png) ;
}

.G8 {
   -fx-background-image: url(../Ressources/Board/Wood/g8.png) ;
}

.H1 {
   -fx-background-image: url(../Ressources/Board/Wood/h1.png) ;
}

.H2 {
   -fx-background-image: url(../Ressources/Board/Wood/h2.png) ;
}

.H3 {
   -fx-background-image: url(../Ressources/Board/Wood/h3.png) ;
}

.H4 {
   -fx-background-image: url(../Ressources/Board/Wood/h4.png) ;
}

.H5 {
   -fx-background-image: url(../Ressources/Board/Wood/h5.png) ;
}

.H6 {
   -fx-background-image: url(../Ressources/Board/Wood/h6.png) ;
}

.H7 {
   -fx-background-image: url(../Ressources/Board/Wood/h7.png) ;
}

.H8 {
   -fx-background-image: url(../Ressources/Board/Wood/h8.png) ;
}



.linkeaussenFeld{
    -fx-background-image: url(../Ressources/Board/Wood/a2.png)
}

.rechteaussenFeld{
    -fx-background-image: url(../Ressources/Board/Wood/a1.png)
}