/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.04.2018, 20:28:16
    Author     : Edwrard Nana
*/

.first {
    -fx-background-color: #50280e;
    -fx-opacity: 90%;
    -fx-text-fill: #ffffff;
}

.second {
    -fx-background-color:  #DEB887;
    -fx-opacity: 90%;
}

.border {
    -fx-border-color:  #fff333; 
    -fx-border-width: 10;
    -fx-opacity: 90%;
}

